@import "../common/variables";
.floating {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 46.35%;
  }

  @media screen and (max-width: 720px) {
    display: none;
  }
}
